// Fonts
$primaryFont: "proxima-nova";

// Colors
$gray: #f9f9f9;
$light_gray: #c4e4db;
$dark_gray: #cccccc;
$banner_bg_color_1: #0d8d99;
$banner_bg_color_2: #0d7299;
$banner_bg_color_3: #0d5b99;
$super_light_blue: #2395a2;
$light_blue: #82c4ca;
$green: #2b647b;
$black: #555;
$white: #fff;
$blue: #0576a0;
$slight_gray: #888;

// Reset
* {
    box-sizing: border-box;
}

// Helpers
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper {
    width: 1040px;
    max-width: 90%;
    margin: 0 auto;
}

// Main styles

body {
    font-family: $primaryFont, Helvetica, Arial, "Lucia Grande", sans-serif;
    background-color: $gray;
}

// Banner
.banner {
    background-color: $banner_bg_color_1;
    background-image: linear-gradient(
        $banner_bg_color_1,
        $banner_bg_color_2 60%,
        $banner_bg_color_3
    );
    margin-bottom: 7em;

    #top_header {
        padding: .7em 0;
        border-bottom: 1px solid $super_light_blue;

        a {
            font-size: 1.1em;
            color: $light_blue;
            text-decoration: none;

            &.brand {
                float: left;
                font-weight: 600;
                transition: transform 0.5s ease-in-out;

                span {
                    border: 2px solid $light_blue;
                    border-radius: 100%;
                    display: inline-block;
                    width: 46px;
                    height: 46px;
                    line-height: 46px;
                    font-weight: 400;
                    margin-right: .3em;
                    text-align: center;
                }

                &:hover {
                    transform: scale(1.1, 1.1);
                    border-color: $white;
                    color: $white;
                }
            }

            &.back_button {
                float: right;
                margin-top: 1em;

                &:hover {
                    color: $white;
                    text-decoration: underline;
                }
            }
        }
    }

    .intro {
        padding: 3.5em 0 0 0;
        text-align: center;
        color: $white;

        .logo {
            width: 70px;
            height: 70px;
        }

        h1 {
            font-size: 2.5em;
            margin: .3em 0;
        }

        p {
            width: 700px;
            margin: 0 auto;
            max-width: 70%;
            line-height: 1.5;
            font-size: 1.1em;
            font-weight: 300;
            color: $light_gray;
            padding: .4em 0 2em 0;
        }

        .download_buttons {
            .button {
                background-color: $light_gray;
                color: $blue;
                text-decoration: none;
                padding: .6em 1.7em;
                display: inline-block;
                min-width: 200px;
                max-width: 100%;
                font-size: 1.1em;
                border-radius: 4px;
                margin-right: 1.3em;

                i {
                    color: $blue;
                    float: left;
                    margin-right: .3em;
                }

                span {
                    float: left;
                    margin-top: .5em;
                }

                &:hover {
                    background-color: $white;
                }
            }
        }

        .mobile_apps {
            margin: 4em 0 0 0;

            p {
                font-size: .9em;
                font-weight: 400;
                padding-bottom: .9em;
            }

            .button {
                display: inline-block;
                width: 180px;
                height: auto;
                text-decoration: none;
                background-color: $green;
                border-radius: 8px;
                margin-right: .3em;

                &:hover {
                    background-color: darken($green, 4%);
                }

                img {
                    width: 100%;
                    max-width: 100%;
                }
            }

            .apps_preview {
                padding-top: 2em;
                max-width: 90%;
                margin-bottom: -15em;
            }
        }
    }
}

.tools h3, .team h3 {
    font-size: 2em;
    font-weight: 400;
    color: $slight_gray;
    text-align: center;
    margin-bottom: 2em;
}

// Tools
.tools {

    margin-bottom: 2em;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-bottom: 2em;
        border-bottom: 1px solid #eaeaea;

        li {
            float: left;
            width: 23%;
            text-align: center;
            margin-right: 2%;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: $black;
                text-decoration: none;

                img {
                    width: 40%;
                    max-width: 100%;
                    margin: 0;
                    padding: 0;
                }

                h4 {
                    font-weight: 400;
                    color: $slight_gray;
                    font-size: 1.4em;
                    margin: .5em 0 .3em 0;
                }

                p {
                    color: #222;
                    max-width: 80%;
                    margin: .8em auto;
                }
            }
        }
    }
}

// Team
.team {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: 12.5%;
            float: left;
            text-align: center;

            img {
                width: 65%;
                min-width: 100px;
                min-height: 100px;
                border-radius: 100%;
                box-shadow: 0 9px 100px rgba(0, 0, 0, .1);
            }

            p {
                font-size: .9em;
            }
        }
    }
}

footer {
    text-align: center;
    color: $slight_gray;
    font-weight: 700;
    margin: 5em 0 1em 0;
}